        <h1 id = "contactTest" class="text-center">Get Updated when we add more features!</h1>
        <div id="contactContainer">
        <form id="form"> 
            <div></div>
           <div class="form-row align-items-center">
          <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputName">Last Name</label>
            <input id="boxOne" type="text" class="form-control" placeholder="Last Name" id="inlineFormInputName">

          </div>
          <div class="form-row align-items-center">
                <div class="col-sm-3 my-1">
                  <label class="sr-only" for="inlineFormInputName">First Name</label>
                  <input id ="boxTwo" type="text" class="form-control" placeholder="First Name" id="inlineFormInputName">
                </div>
          <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputGroupUsername">Email</label>
            <div class="input-group">
              <div class="input-group-prepend">
              </div>
              <input id ="boxThree" placeholder="Email Address" type="text" class="form-control" id="inlineFormInputGroupUsername">
            </div>
          </div>
          <div class="col-auto my-1">
            <div class="form-check">
            </div>
          </div>
          <div class="col-auto my-1">
            <button id= "submit" type="submit" class="btn btn-danger">Submit</button>
            </body>
          </div>
        </div>
      </form>
      </div>
    