<h1 id="contactTest" class="text-center">Be the first to hear about MOODvie updates!</h1>
<div id="contactContainer">
  <form id="form">
    <div class="container">

      <div class="row">
        <div class="col-sm-12 col-lg-4">
          <label class="sr-only" for="firstName">First Name</label>
          <input id="firstName" type="text" class="form-control" placeholder="First Name" />
        </div>
        <div class="col-sm-12 col-lg-4">
          <label class="sr-only" for="lastName">Last Name</label>
          <input id="lastName" type="text" class="form-control" placeholder="Last Name" />

        </div>
        <div class="col-sm-12 col-lg-4">
          <label class="sr-only" for="email">Email</label>
          <input id="email" placeholder="Email Address" type="text" class="form-control" />
        </div>
      </div>
      <div class="row">

        <div class="col-sm-12 text-center contact-button-container">
          <button id="submit" type="submit" class="btn btn-danger">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
