<nav class="navbar">
    <a  href="/">
        <img class="moodvieLogo" src="../img/MOODVIEiconsandposter/MOODVIELOGO/MOODVie.jpg">
    </a>
    <a class=" touch text-light" href="/contact"/>Keep in Touch</a>
</nav>

<div class="container">
    <br>
    <br>
    <h2 class="text-center text-light resultTitle">Movies for your whole MOOD!</h2>

    <br>
    <br>
    <div id="genreDiv" class="row align-center">

        {{#each genresData}}
        <div class="col-sm text-center genre-card">
            <a href="/genres/{{genre}}" target="_blank">
                <div class="genre-image-wrapper">
                    <img class="posters" src="{{img}}" />
                </div>

                <h3>
                    {{genre}}
                </h3>
            </a>
        </div>

        {{/each}}
    </div>
</div>