<nav class="navbar">
    <a  href="/">
        <img class="moodvieLogo" src="../img/MOODVIEiconsandposter/MOODVIELOGO/MOODVie.jpg">
    </a>
    <a class=" touch text-light" href="/contact"/>Keep in Touch</a>
</nav>

      <div  class="container-fluid">
        <p class="text-center text-light resultTitle">Way to go, you're a Whole MOOD!</p>

        <div id="results">  
            <button id="closeBtn" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>      

        <div id="pageBtns">
            <a href="#" class="previous round">&#8249;</a>
            <a href="#" class="next round">&#8250;</a>
        </div>

        <div id="genreDiv">
        
        </div>
    