<nav class="navbar">
    <a  href="/">
        <img class="moodvieLogo" src="../img/MOODVIEiconsandposter/MOODVIELOGO/MOODVie.jpg">
    </a>
    <a class=" touch text-light" href="/contact"/>Keep in Touch</a>
</nav>
<br>
<br>

<div class="container-fluid">
    <h1 class="text-center text-light resultTitle">Top Results!</h1>
    <br>
    <br>
    <h2>Take a chance, we wouldn't steer you wrong.</2>
    <br>
    <br>
    <div id="titles">
        {{#each genreMovies}}
        <div class="titles">
        <a href="/showMovie/{{id}}" target="_blank">{{title}}</a>
        </div>
        {{/each}}
    </div>