<nav class="navbar">
    <a  href="/">
        <img class="moodvieLogo" src="../img/MOODVIEiconsandposter/MOODVIELOGO/MOODVie.jpg">
    </a>
    <a class=" touch text-light" href="/contact"/>Keep in Touch</a>
</nav>

<div class="container welcomeContainer">
    <h1 class="text-center text-light welcomeText">Welcome to MOODvie!</h1>
    <h1 class="text-center text-light welcomeText">Would You Like To Be Paired With a Curated Film?</h1>
    <div class="row">
        <div class="col-6 text-center">
            <a href="results.html" class="btn welcomeButtons welcomeButtonColor"><span
                    class="welcomeButtonText">NO</span></a><br>
            <p class="skipAheadText">Ain't Nobody Got Time For That</p>
        </div>
        <div class="col-6 text-center">
            <a href="../html/survey.html" class="btn welcomeButtons welcomeButtonColor"><span
                    class="welcomeButtonText">YES</span></a><br>
            <p class="takeTestText">I'm Feeling Spicy </p>

        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
<script src="../js/project2.js"></script>