#contactTest{
    background: #000000;
    font-family: Helvetica;
    font-style: normal;
    font-size: 60px;
    font-weight: 400;
    height: 80px;
    letter-spacing: 4px;
    margin-bottom: 6%;
    color: #FFFFFF;
    padding-top: 8%;
}


.btn{
   background: #F8C765;
   border: #F8C765;
   font-family: Helvetica;
   font-weight: 400;
   letter-spacing: 1px;
   color: #000000;
   width: 400px;
   height: 40px;
   padding-top: 1%;
   margin-top: 90%;
   position: relative;
   margin-left: 45%;
   top: -10px;
   
   

}


#boxThree{
    background: #FFFFFF;
    width: 465px;
    height: 43px;
    margin-top: 220%;
    position: absolute;
    margin-left: 35%;
    
}


#boxTwo{
    background: #FFFFFF;
    width: 465px;
    height: 43px;
    position: absolute;
    margin-left: 130%;
    
}


#boxOne{
    background: #FA9917;
    border: #FA9917;
    width: 465px;
    height: 43px;
    margin-top: -50px;
    position: absolute;
    margin-left: 140%;
    top: -10px;
    font-family: Helvetica;
    font-size: 16px;
    

}

#firstName{
    font-family: Helvetica;
    font-size: 16px;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    font-weight: 10px;
    position: absolute;
    margin-left: 500px;

}


