#contactTest{
    background: #000000;
    font-family: Helvetica;
    font-style: normal;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 4px;
    margin-bottom: 6%;
    color: #FFFFFF;
    padding-top: 8%;
}

.contact-button-container {
    margin: 40px 0;
}
.btn{
   background: #F8C765;
   border: #F8C765;
   font-family: Helvetica;
   font-weight: 400;
   letter-spacing: 1px;
   color: #000000;
   width: 400px;
   height: 40px; 
}

.thanks{
    font-size: 30px;
    letter-spacing: 1px;
    font-family: Helvetica;
    color:white;
    text-align:center;
}

@media screen and (max-width: 1024px) {
    #contactTest{ 
        font-size: 40px;
    }
}

