
p{
    color:white;
    text-align: center;

}

.header{
    font-weight: bold;
    
}

#concept{
    margin-left: 15%;
    margin-right: 15%;

}

#stream{
    color:white;
    text-align: center;
}

h3{
    text-align: center;

    color:white;
}