
p{
    color:white;
    text-align: center;
    margin-top: 15px;

}

.header{
    font-weight: bold;
    font-size: 20px;
    
}

#concept{
    margin: 0 auto;
    font-size: 20px;

}

#stream{
    color:white;
    text-align: center;
}

h3{
    text-align: center;
    padding-bottom: 10px;
    color:white;
}

a {
    font-size: 35px;
}