   <img class="moodvieLogo" src="../img/MOODVIEiconsandposter/MOODVIELOGO/MOODVie.jpg">

        <h1 class="text-center text-light">Mood</h1><br><br>
       <form>
        <div class="row">
                <div class="col-lg-4 text-center">
                    <div class="form-group">
                        <label for="FormControlSelect1" class="selectLabel">1. HOW ARE WE FEELING TODAY</label>
                        <select multiple class="form-control" size="15" id="FormControlSelect1" name="mood1">
                            <option class="moodOptions">a. Like Rick James Bitch</option>
                            <option class="moodOptions">b. I have a case of the Munday's</option>
                            <option class="moodOptions">c .Not So Much</option>
                            <option class="moodOptions">d. Baller But Still Broke</option>
                            <option class="moodOptions">e. Go to hell you filthy animal!</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                        <div class="form-group">
                                <label for="FormControlSelect2" class="selectLabel">2. Who will you be watching it with </label>
                                <select multiple class="form-control" size="15" id="FormControlSelect2" name="mood2">
                                    <option class="moodOptions">a. TED</option>
                                    <option class="moodOptions">b. I have a case of the Munday's</option>
                                    <option class="moodOptions">c .Not So Much</option>
                                    <option class="moodOptions">d. Baller But Still Broke</option>
                                    <option class="moodOptions">e. Go to hell you filthy animal!</option>
                                </select>
                            </div>
                </div>
                <div class="col-lg-4 text-center">
                        <div class="form-group">
                                <label for="FormControlSelect3" class="selectLabel">3. I would like to ....</label>
                                <select multiple class="form-control" size="15" id="FormControlSelect3" name="mood3">
                                    <option class="moodOptions">a. Like Rick James Bitch</option>
                                    <option class="moodOptions">b. I have a case of the Munday's</option>
                                    <option class="moodOptions">c .Not So Much</option>
                                    <option class="moodOptions">d. Baller But Still Broke</option>
                                    <option class="moodOptions">e. Go to hell you filthy animal!</option>
                                </select>
                            </div>
                </div>
                <div class="col-12 text-center">
                      <!--  <input type="submit" value="Show me Movies!" class="justify-content"> -->
                        <a href="../html/results.html">Show me movies</a>
                    </div>
        </div>
    </form>
    


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="../js/genre.js"></script>
    <script src="../../helpers/guidebox.js"></script>