<img class="moodvieLogo" src="../img/MOODVIEiconsandposter/MOODVIELOGO/MOODVie.jpg">
<div class="container-fluid">
    <p class="text-center text-light resultTitle">Here are your movies!</p>

    <div id="movies">
        <button id="closeBtn" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div id="moviesDiv">
                 <img src="{{gbMovie.poster_120x171}}"> 
                 {{gbMovie.title}}
                 {{gbMovie.release_year}}
                 {{gbMovie.rating}}
            <br>
         
    </div>