  <head>
     <title>MOODvie - Movies</title>
      </head>

<img class="moodvieLogo" src="../img/MOODVIEiconsandposter/MOODVIELOGO/MOODVie.jpg">
<div class="container-fluid">
    <h1 class="text-center text-light resultTitle">Top Results!</h1>
    <br>
    <br>
    <h3>Take a chance, we wouldn't steer you wrong.</h3>
    <br>
    <br>
    <div id="titles">
        {{#each genreMovies}}
        <div class="titles">
        <a href="/showMovie/{{id}}" target="_blank">{{title}}</a>
        </div>
        {{/each}}
    </div>