<div id="titles">
          {{#each genreMovies}}
            <div class="titles">
                {{dbGenres}}
                <br>
               {{!-- <img src="{{img}}"> --}}
            {{!-- <a href="/genres/{{genre}}">Click to see movies in this genre!</a> --}}
            </div>
            {{/each}}
        </div>